# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Bazel
/bazel-bazel
/bazel-bin
/bazel-genfiles
/bazel-out
/bazel-testlogs
/bazel.iml
/output/
/bazel-MicroMouse2017

#Clion
.idea/
/cmake-build-debug/

#Cmake 
/CMakeFiles
